body {
  overflow: hidden;
}

.container {
  width: 95%;
  /*
  для чего здесь max-height?
  если таблица работает как задумано в ней будет макс. 5 строк
  и в высоту вместу с формое это заметно меньше чем 1020px
  max-width так же избыточен
  */
  max-width: 1980px;
  max-height: 1020px;
  margin: 0 auto;
}

.section__title {
  text-align: center;
}

.form {
  /*
  display: flex; - зачем здесь? Если убрать его изменится только выравнивание,
  что легко решается с помощью  padding или margin
  в данном случае flex избыточен
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 0;
  width: 20%;
  background: #eee;
  border: 1px solid black;
  border-radius: 10px;
}

.form__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__title {
  align-items: flex-start;
}

.form__input {
  width: 170px;
}